body {
  padding: 0;
  margin: 0;
}
html {
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0;
  margin: 0;
  font-family: "Kosugi Maru", sans-serif;
  color: #555;
}

/* ================================
ヘッダー
================================ */
header {
  background-color: #56970a;
  opacity: 0.95;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header-container {
  height: 48px;
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
.header-title {
  display: inline-block;
  height: 48px;
  margin-left: 10px;
}
.header-title img {
  width: 75%;
}
.header-nav {
  float: right;
  position: relative;
  top: 6px;
}
.header-nav ul {
  margin: 0;
  padding: 0;
}
.header-nav li {
  float: left;
  display: block;
  width: 120px;
}
.header-nav a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.header-nav a:hover {
  text-decoration: underline;
}

/* ================================
共通
================================ */
.container {
  width: 980px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}
.layout-1-column {
  width: 980px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  overflow: hidden;
}
.layout-2-column {
  width: 980px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  overflow: hidden;
}
.layout-2-column-left {
  float: left;
  width: 25%;
  box-sizing: border-box;
  overflow: hidden;
}
.layout-2-column-right {
  width: 75%;
  box-sizing: border-box;
  overflow: hidden;
}
.page-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.btn-container {
  overflow: hidden;
}
.btn {
  cursor: pointer;
}
.btn-mid {
  max-width: 150px;
  float: right;
}
.btn-left {
  max-width: 150px;
  float: left;
}
.btn-center {
  max-width: 150px;
  margin: 0 auto;
}

/* ================================
フォーム関連
================================ */
.form-container {
  margin: 0 auto;
  padding: 0 10px;
}
.large-form {
  width: 40%;
}
.middle-form {
  width: 80%;
  float: left;
  border: 3px solid #ccc;
  padding: 20px 40px;
}
.small-form {
  width: 60%;
  float: left;
  border: 3px solid #ccc;
  padding: 20px 20px;
}

input[type="text"],
input[type="password"],
textarea {
  display: block;
  height: 60px;
  font-size: 18px;
  box-sizing: border-box;
  background: #eee;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
select {
  display: block;
  height: 40px;
  border: none;
  font-size: 16px;
  background: #eee;
}
input[type="date"] {
  display: block;
  height: 40px;
  border: none;
  font-size: 16px;
  background: #eee;
}
input[type="submit"] {
  display: block;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background: #333;
  color: white;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}
.msg-area {
  padding-bottom: 15px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.pass-save {
  font-family: "Kosugi Maru", sans-serif;
  color: #555;
}
/* ================================
トップ画面
================================ */
#ABOUT {
  margin-bottom: 80px;
  background: #fff;
}
.top-img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.top-img img {
  width: 100%;
  margin: 0 auto;
}
.top-img-container {
  position: absolute;
  top: 30%;
  left: 32%;
  padding: 10px;
}
.top-img h1 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  letter-spacing: 0.15em;
  text-align: center;
}
.top-img p {
  font-size: 16px;
  margin-bottom: 50px;
  text-align: center;
}
.top-img-btn {
  position: relative;
  left: 120px;
  /* margin-left: 50px; */
}
.btn-sample1 {
  display: inline-block;
  padding: 1em 1.5em;
  text-decoration: none;
  border-radius: 4px;
  background: #ffc107;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-bottom: solid 3px #c58668;
}
.btn-sample1:active {
  transform: translateY(4px);
  box-shadow: none;
  border-bottom: none;
}

/* ================================
トップコンテンツ
================================ */
.fadeInUp {
  opacity: 0;
  transform: translateY(30px);
  transition: 1.5s;
}
#DESCRIPTION h2 {
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
  border-bottom: #555 3px solid;
  letter-spacing: 0.2em;
}
.panel-container {
  overflow: hidden;
  padding: 0 10px;
}
.panel {
  float: left;
  width: 30%;
  margin: 0 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.panel-header {
  letter-spacing: 0.1em;
}
.panel-main {
  padding: 30px;
}
.panel-txt {
  margin-top: 30px;
  text-align: left;
}
.icon-middle {
  font-size: 2.5em;
  color: #555;
}

/* ================================
フッター
================================ */
footer {
  height: 80px;
  background: #eee;
}
footer p {
  font-size: 14px;
  position: relative;
  top: 30px;
  text-align: center;
}

/* ================================
マイページ
================================ */
.regist-container {
  overflow: hidden;
  margin-right: 40px;
}
.regist-container p {
  float: right;
}
.search-bar {
  width: 80%;
  margin: 20px auto;
  padding: 10px 10px 5px 10px;
  background: #fff;
}
.card-container {
  width: 100%;
  overflow: hidden;
}
.card {
  width: 30%;
  float: left;
  margin: 10px;
  box-sizing: border-box;
  transition: 0.3s;
}
.card a {
  display: block;
  text-decoration: none;
}
.card img {
  width: 100%;
}
.card:hover {
  box-shadow: 0 0 10px gray;
}
.slide-msg {
  position: relative;
  top: 48px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 193, 1, 0.9);
  font-size: 18px;
  text-align: center;
  display: none;
}

/* ================================
ページング
================================ */
.paging {
  height: 40px;
  overflow: hidden;
  margin-top: 10px;
}
.paging ul {
  margin: 0;
}
.page-list {
  position: relative;
  left: 50%;
  float: left;
  display: block;
  margin-right: 5px;
}
.page-list:last-child {
  margin-right: 0;
}
.page-list a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  text-decoration: none;
}
.page-list a:hover {
  background: #bbb;
}
.active a {
  background: #555;
  color: white;
}

/* ================================
個人設定
================================ */
.side-nav {
  width: 60%;
  margin: 0 auto;
  background: #eee;
  padding: 20px;
}
.side-nav li {
  list-style: none;
  margin-bottom: 15px;
}
.side-nav a {
  text-decoration: underline;
}
.side-nav a:hover {
  text-decoration: none;
}

/* ================================
詳細画面
================================ */
#productDetail > a {
  text-decoration: none;
}
.detail-container {
  width: 100%;
  overflow: hidden;
}
.detail-container-top {
  margin-bottom: 10px;
}
.detail-container-left {
  float: left;
  width: 60%;
}
.detail-container-left img {
  width: 100%;
  border-radius: 20px;
}
.detail-container-right {
  width: 30%;
  float: left;
  margin-left: 20px;
}
.icon-container {
  margin-bottom: 20px;
  overflow: hidden;
}
.icon-container > a {
  text-decoration: none;
  display: inline-block;
}
.detail-icon {
  color: #333;
  font-size: 2em;
  margin-right: 10px;
  cursor: pointer;
}
.active {
  color: #fe8a8b;
}
.google-search {
  margin-bottom: 10px;
}
.google-search a {
  display: inline-block;
}
#detail-table {
  font-family: "Kosugi Maru", sans-serif;
  color: #555;
  width: 100%;
}

/* ================================
登録編集画面
================================ */
.prev-img {
  display: inline-block;
  width: 100%;
}
.reverse {
  display: block;
  float: right;
}
